/* Tomerstacks' Stylings */
body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/Header-background-edit\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content{
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-text{
    color: white;
    padding-bottom:1rem;
}
h1.hero-text{
    font-size: 3.5em;

}
.loud{
    color: coral;
}

.hero-content-container{
    max-width:70%;
}
.hero-button {
    background-color:transparent;
    color: white;
    border: 1px solid white;
    margin-top: 5rem;
    padding: 0.9375rem 6rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
}
.hero-button:hover {
    background-color:#050734;
    transition: var(--transition);
}

@media only screen and (max-width: 800px) {
    .hero{
        width:100vw;
        height: 170vh;
    }
    h1.hero-text{
        font-size: 2.5em;
    }
    .hero-button{
        padding: 0.9375rem 1rem; 
    }
    .hero-button:hover{
        background-color:#050734;
        transition: var(--transition);
    }

  }
  @media only screen and (max-width: 370px) {
    .hero{
        width:100vw;
        height: 170vh;
    }
    h1.hero-text{
        font-size: 1.5em;
    }
    .hero-button{
        padding: 0.9375rem 2rem; 
    }
    .hero-button:hover{
        background-color:#050734;
    transition: var(--transition);
    }

  }


/*================================================================ 

/* css reset  */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Declaring variables  */
:root{
--clr-white: #fff;
--clr-main: #050734;
--clr-text: #9FA0A8;
--transition: all 0.3s linear;
--spacing: 0.25rem;

}
html{
    scroll-behavior: smooth;
    cursor: pointer;
}

h1,h2,h3,h4,h5{
    font-family:  'Merriweather', serif;
    color: var(--clr-main);
}
p{
    font-family:  'Roboto', sans-serif;
    color: var(--clr-text);
}
/* styling for mobile and general styling */
/* navigation styling  */
.logo {
    height: 12px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--clr-white);
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
ul {
    list-style-type: none;
}
.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 100vh;
}

.links a {
    color: var(--clr-main);
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 1.5rem 1rem;
    transition: var(--transition);
    text-decoration: none;
    font-weight: 500;

}


.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-main);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover{
    transform: rotate(90deg);
    transition: all 0.5s linear;
}



main{ 
    min-height: 100vh;
    display: grid;
    place-items: center;
    }
 




 /* styling for mobile view services section and general styling for services section  */
.services-container{
    background-color: var(--clr-white);
      padding: 30px;
    text-align: center;
    transition: var(--transition);
}
.services-title {
    margin-bottom: 4rem;
    width: auto;
}
.underline {
    height: 0.25rem;
    width: 7rem;
    background: var(--clr-main);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.icon{
    width: 50px;
}

.cards-container{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    transition: 2s all ease;
    
}


.cards{
    background-color: var(--clr-white);
    text-align: center;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
     cursor: pointer;
   transition: var(--transition);
}

.cards h4{
    padding-top: 10px;
    padding-bottom: 20px;
}
/* styling to hide the book consultation
 button and to declare hover state for 
 navigation links on mobile  */
@media screen and (max-width: 800px){
    .book-consultation{
        display: none;
    }
    .links a:hover{
        background-color: var(--clr-main);
        color: var(--clr-white);
        cursor: pointer;
        transition: var(--transition);
    }
}




/* styling for desktop version  */
@media screen and (min-width: 800px){
    /* styling for navigation  */
    .logo {
        height: 15px;
    }
.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.nav-header {
    padding: 0;
}
.links {
    height: auto;
    display: flex;
    text-align: center;
}
.links a {
    padding: 0;
    margin: 0 0.5rem;
   
}
.links a:hover{
    transition: var(--transition);
    cursor: pointer;
  font-weight: bold;
}
.book-consultation{
    border: 1px solid #050734;
    color: var(--clr-main);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15rem;
    padding: 0.8rem;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}
.book-consultation:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.nav-toggle {
    display: none;
}

/* styling for services section  */
.services-container{
   
    padding: 30px;
    text-align: center;
   line-height: 1.5rem;
}

.services-title{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}


.cards-container{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}
.cards{
    padding: 40px;
   
}
.cards:hover{
    transform: scale(0.9);
}
.services-title p{
   font-size: 1.2rem;
   
}
.underline{
    margin-bottom: 1rem;
}




